* {
	margin: 0px auto;
	padding: 0px;
}



body {
	font-family: Arial;
}


#container {
	width:1000px;	
} 


header {
	width:1000px;
	padding:5px 5px 35px 0px;
}

#main_title {
	color:#2C9C52;
	float:left;
	clear:both;
	font-size:60px;
	padding: 10px 0px 10px 0px;
	
}

#tel {
	margin-left:8px;
	color:#2C9C52;
	font-weight:bold;
	font-size:14px;
	clear:both;
}

#logo {
	 float:left;
	 padding: 10px 0px 0px 175px;
}

nav {
	width:990px;
	border-bottom:10px solid #444;
	font-size:20px;
	padding:15px 0px 10px 0px;
	margin:25px 0px 0px 9px;
}


section {
	float:left;
	width:720px;
	margin-left:21px;
}

article{
	padding:3px 25px 25px 5px;
	margin:35px 0px 12px 0px;
}

.product_title {
	margin-top:17px;
	font-size:30px;

}

.product_pic {
	width:150px;
	height:229px;
	border:1px dashed #ccc;
	float:left;
	clear:both;
	text-align: center;
}

.pic {
	padding:25px 25px 10px 45px;
}

.product_description {
	width:485px;
	height:430px;
	border:1px solid #ccc;
	float:right;
	padding: 19px 21px 26px 10px;
}

.product_description  p {
	font-size:12px;
}


h3 {
	color:#2C9C52;
	font-size:20px;
}


aside {
	width: 210px;
    float: right;
	padding:7px 1px 3px 5px;
	margin:20px 0px 0px 0px;
	border:3px solid #444;
	border-radius: 10px 10px 10px 10px;
	text-align:center;
}

#opening_times {
	padding:9px 0px 0px 22px;
}

#opening_times td {
	width:130px;
	color:#444;
	font-size:13px;
	font-weight:bold;
	text-align:left;
	padding:10px 0px 7px 0px;

}

#contact_form {
	width: 370px;
	border:3px solid #444;
	border-radius:10px;
	float:left;
	margin-top:20px;
	padding-top:12px;
}

form {
	width:370px;
	margin: 0px auto;
}

label {
	display:block;
	margin:15px 0px 5px 20px;
}

input {
	width:330px;
	height:21px;
	margin-left:20px;
	
}

textarea {
	width:330px;
	height:190px;
	margin-left:20px;
}

fieldset {
	border:none;
	padding-bottom:20px;
}

labelone {
	margin-top:10px;
}

.btn {
	width:155px;
	height:30px;
}

form h3 {
	font-size:25px;
	margin: 0px 0px 18px 18px;
}

#contact_info {

	float:right;
	margin:20px 0px 0px 0px;
	width:260px;
	padding:15px;
	border:3px solid #444;
	border-radius: 10px 10px 10px 10px;
}


.offer_header {
	font-size:30px;
}

#offer4 {
	border:2px solid white;
	border-radius: 10px 10px 0px 0px;
}

#offer5 {
	margin-left:12px;
	border:2px solid white;
	border-radius: 10px 10px 0px 0px;
}

.pay_monthly_table {
	width:500px;
	float:left;
	background:#2C9C52;
	color:white;
	border:3px solid #444;
	border-radius:5px 5px 0px 0px;

}

.pay_monthly_table  th{
	padding: 2px 2px 2px 0px;
	border:2px solid #444;
	border-radius:9px 9px 0px 0px;
	font-size:12px;
	text-align:center;
	font-weight:bold;
}

.pay_monthly_table  td{
	width:110px;
	padding:5px 0px 5px 0px;
	border:2px dotted #444;
	font-size:12px;
	text-align:center;
}

footer {
	width:990px;
	clear:both;
	border:7px solid #444;
	border-radius: 5px 5px 0px 0px;
	padding:12px 0px 12px 0px;
	margin: 0px auto;
	text-align:center;
}

