nav ul {
	text-align:center;
}

nav  li {
	list-style:none;
	display:inline-block;
}

.main_link {
	color:black;
	padding:11px;
	border-top:7px solid #444;
	border-left:7px solid #444;
	border-right:7px solid #444;
	border-radius: 5px 5px 0px 0px;
	text-decoration:none;
		
}

.main_link:hover {

	background:#2C9C52;
	color:white;
	
}

